:root {
    --font-family-sans: "Fira Sans", "Noto Color Emoji", sans-serif;
}

.banner {
    flex: 1;
    flex-direction: column;
    padding-bottom: 2rem;
}

.banner h1 {
    margin-bottom: 0;
}

.banner p {
    text-align: center;
}

nav {
    margin-bottom: 4rem;
}

.tabs a {
    margin-left: 5pt;
    margin-right: 5pt;
}

.card {
    margin-bottom: 2em;
}
