<div style="padding-bottom: 50px">
  <section style="background-color: var(--dark_accent_color)">
    <div class="content-wrapper title-wrapper" style="flex-direction: column">
      <div style="
              display: flex;
              flex-direction: row;
              align-items: center;
              padding-bottom: 15px;
            ">
        <img src="img/spid_banner_2.png " style="height: 300px; padding-top: 0em; padding-left: 0.5em" />
      </div>

      <h4><b>Competition Start:</b> 28 October 2024 20:00 EST </br>
        <b>Competition Ends:</b> 8 November 2024 8:00 EST
      </h4>
      <h2 id="countdown_timer"></h2>

      <div class="content-wrapper" style="margin-top: 2em">
        <a href="index.html">
          </button>
          <button class="outline">
            <i class="material-icons">home</i>Home&nbsp;
          </button>
        </a>
        <a href="leaderboard.html">
          <button class="outline">
            <i class="material-icons">leaderboard</i>Leaderboard&nbsp;
          </button>
        </a>
        <a href="https://arxiv.org/abs/2406.05590">
          <button class="outline">
            <i class="material-icons">description</i>Research&nbsp;
          </button>
        </a>
        <div class="outline">
          <button onclick="buttonDrop()" class="dropbtn">Agent Code</button>
          <div id="myDropdown" class="dropdown-content">
            <a href="https://github.com/NYU-LLM-CTF/LLM_CTF_Database">NYU Baseline</a>
            <a href="https://princeton-nlp.github.io/SWE-agent/">SWE-Agent</a>
          </div>
        </div>
      </div>
    </div>

  </section>

  <script src="js/button_drop.js"></script>
  <script src="js/counter.js"></script>


</div>