<div class="banner is-center is-vertical-align bg-primary text-light">
    <h1>NYU CTF Dataset</h1>
    <h4>A benchmark of CTF challenges to test LLM capabilities in cybersecurity</h4>
    <p>Minghao Shao*, Sofija Jancheska*, Meet Udeshi*, Brendan Dolan-Gavitt*, <br> Haoran Xi, Kimberly Milner, Boyuan Chen, Max Yin, Siddharth Garg, <br>Prashanth Krishnamurthy, Farshad Khorrami, Ramesh Karri, Muhammad Shafique</p>
</div>
<nav class="tabs is-center">
    <a href="/#leaderboard">🥇 Leaderboard</a>
    <a href="https://arxiv.org/abs/2406.05590">📃 Paper</a>
    <a href="https://github.com/NYU-LLM-CTF/LLM_CTF_Database">💻 Code</a>
    <a href="/#submit">➕ Submit</a>
</nav>
