{% extends "base.html" %}
{% block content %}
{% include "header.html" %}

<div class="row">
    <div class="col-12">
        <div class="card" id="announcements">
            <h3>Announcements</h3>
            <hr>
          <i class="material-icons">attachment</i>
          Competition Details
          [<a style="color:#0ca7ff"
            hreft="https://www.csaw.io/llm-attack-challenge">CSAW.io</a>]
            <!--href="https://docs.google.com/document/d/1PB_Vuorsq8o9x-_Wk6kcwPRAvgQoNKKFf1kQL-TzT7s/edit?usp=sharing">Google
            Drive</a>]-->
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card" id="submit">
            <h3>Questions</h3><a name="submit"></a>
            <hr>
        </div>
    </div>
</div>
{% endblock %}
