{% extends "base.html" %}
{% block content %}
{% include "header.html" %}

<!--div class="row">
    <div class="col-12">
        <div class="card" id="about">
            <p>ℹ️ The <b>NYU CTF dataset</b> is designed to evaluate cybersecurity capabilities of <b>LLM agents</b>. We provide difficult real-world CTF challenges to facilitate research in improving LLMs at interactive cybersecurity tasks and complex automated task planning. Evaluating LLM agents on the NYU CTF challenges yields insights into their potential for AI-driven cybersecurity to perform real-world threat management. Check out the <a>paper</a> for details.</p>
            <pre>@article {
    
}</pre>
        </div>
    </div>
</div-->

<div class="row">
    <div class="col-12">
        <div class="card" id="announcements">
            <h3>Announcements</h3>
            <hr>
          <i class="material-icons">attachment</i>
          Competition Details
          [<a style="color:#0ca7ff"
            href="https://docs.google.com/document/d/1PB_Vuorsq8o9x-_Wk6kcwPRAvgQoNKKFf1kQL-TzT7s/edit?usp=sharing">Google
            Drive</a>]
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card" id="submit">
            <h3>Questions</h3><a name="submit"></a>
            <hr>
        </div>
    </div>
</div>
{% endblock %}
